{% extends 'base.html' %} {% block content %}
<form method="post" class="buttons">
  <h3>ReadMe</h3>
  <div>
    <label>Display Name:</label>
    <input
      type="text"
      placeholder="Wassssuuuupppp"
      name="name"
      value="{{name}}"
    />
  </div>
  <div class="join">
   <label>What's the password?:</label>
   <input type="text" placeholder="pssst, 4 digits please" name="code" value="{{code}}" />
    <button type="submit" name="join"></button>
  </div>
  <button type="submit" name="create" class="create-btn">Join or Create that Group Chat</button>
  {% if error %}
  <ul>
    <li>{{error}}</li>
  </ul>
  {% endif %}
</form>
{% endblock %}
