@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");
:base {
  --color-main: #71c6dd;
  --color-main-light: #05cafc;
  --color-dark: #272222;
  --color-dark-medium: #2f3030d3;
  --color-dark-light: #a8a6a6;
  --color-light: #fafafa;
  --color-gray: #8b8b8b;
  --color-light-gray: #b2ecc9;
  --color-bg: #ffffff;
  --color-success: #5dd693;
  --color-error: #fc4b0b;
  --color-pink: #ffffffc2;
  --color-nav: #3678f3;
  --color-box: #f8fcd4;
  --color-roomlist: #000000;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.join {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.create-btn {
  width: 100%;
}

.message-box {
  border-color: Dark Blue;
  border-width: 2px;
  border-style: solid;
  border-radius: 10px;
  background-color: ;
  height: 80vh;
  display: flex;
  flex-direction: column;
  width: 80vw;
  align-items: stretch;
}

.messages {
  overflow-y: scroll;
  flex: 1;
  width: 100%;
}

.inputs {
  padding: 10px;
  display: flex;
}

h2 {
  text-align: center;
}

#message {
  flex: 1;
}

.text {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
}

.muted {
  font-size: 10px;
  color: darkgray;
}
